<h1>Colcho.Net</h1>

<p>
  Escolha uma das ações a seguir:
  <ul>
    <li><%= link_to "Cadastro de Usuários", new_user_path  %></li>
    <li><%= link_to "Visualizar Quartos", rooms_path  %></li>
  </ul> 
</p>